@import "~bootstrap/scss/bootstrap";
body {
    background-image: url(./images/notebook.jpg);
    // background-image: url(./images/task3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.task-page {
    padding: 10px;
    // background-color: goldenrod;
    background-color: #fff;
    border: solid 0.5px;
    width: 500px;
}
// #tasks {
//     // background-image: url(./images/notebook.jpg);
//     width: 600px;
//     height: 400px;
//     overflow: scroll;
// }
// div#completed-tasks {
//     width: 600px;
//     height: 300px;
//     overflow: scroll;
// }
// .header {
//     position: fixed;
//     background-color: goldenrod;
//     color: #000;
//     margin: 20px;
// }
#tasks {
    justify-content: end;
}
#auth {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}